*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    overflow: hidden;
}

.navigation {
    background-color: #3A3A3A;
    border-bottom: 3px solid #0F9CEC;
}

.navbar > a{
    font-size: 50px !important;
}

.navbar-nav a{
    transition: all 0.4s;
    font-size: 25px;
}

.navigation button{
    outline: none !important;
}

.button-drop{
    outline: none !important;
    background-color: #0F9CEC!important;
}

.align-links{
    display: flex;
    align-items: center;
}

.navbar-nav a:hover{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: rgba(255,255,255,1)!important;
    border-top: 2px solid #0F9CEC ;
    border-bottom: 2px solid #0F9CEC ;
}

.navbar-nav a:focus{
   color: revert !important;
}

.introduction{
    height: 300px;
    position: relative;
}

.images{
    height: 600px;
    position: relative;
    right: 10%;
    top: 10%;
}

.block1, .block2{
    position: absolute;
    height: 250px;
    width: 90%;
}

.block1{
    top: 0;
    left: 0;
    background-color: #0F9CEC;
}

.block2{
    color: white;
    bottom: 0;
    right: 0;
    background-color: #3A3A3A;
    padding: 20px;
}

.block2 span{
    border-bottom: 2px solid #0F9CEC;
    font-size: 40px;
}

.intro-content{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block3, .block4{
    position: absolute;
    height: 550px;
    width: 80%;
}

.block3{
    top: 0;
    right: 0;
    background-color: #3A3A3A;
}

.block4{
    bottom: 0;
    left: 0;
    background-size: cover;
    background-image: url("./me.jpg");
}

.smoke1, .smoke2{
    z-index: -1;
    position: absolute;
}

.smoke1{
    width: 100%;
    transform: rotate(-44.64deg) translate(-5%, -10%) scale(1.3);
    background-image: url("./smoke1.png");
    background-size: contain;
}

.smoke2{
    width: 100%;
    right: 0;
    transform: rotate(90deg) translate(15%, -10%) scale(1.3);
    background-image: url("./smoke1.png");
    background-size: contain;
}




@media only screen and (max-width: 500px) {
    .navbar > a{
        font-size: 30px !important;

    }
}