*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

.navigation {
    background-color: #3A3A3A;
    border-bottom: 3px solid #0F9CEC;
}

.navbar > a{
    font-size: 50px !important;
}

.navbar-nav a{
    transition: all 0.4s;
    font-size: 25px;
}

.navigation button{
    outline: none !important;
}

.button-drop{
    outline: none !important;
    background-color: #0F9CEC!important;
}

.align-links{
    display: flex;
    align-items: center;
}

.navbar-nav a:hover{
    color: rgba(255,255,255,1)!important;
    border-top: 2px solid #0F9CEC ;
    border-bottom: 2px solid #0F9CEC ;
}

.navbar-nav a:focus{
   color: revert !important;
}

.introduction{
    height: 300px;
    position: relative;
}

.images{
    height: 600px;
    position: relative;
    right: 10%;
    top: 10%;
}

.block1, .block2{
    position: absolute;
    height: 250px;
    width: 90%;
}

.block1{
    top: 0;
    left: 0;
    background-color: #0F9CEC;
}

.block2{
    color: white;
    bottom: 0;
    right: 0;
    background-color: #3A3A3A;
    padding: 20px;
}

.block2 span, .about-me-block2 span{
    border-bottom: 2px solid #0F9CEC;
    font-size: 40px;
}

.intro-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block3, .block4{
    position: absolute;
    height: 550px;
    width: 80%;
}

.block3{
    top: 0;
    right: 0;
    background-color: #3A3A3A;
}

.block4{
    bottom: 0;
    left: 0;
    background-size: cover;
    background-image: url("./me.jpg");
}

.smoke1, .smoke2{
    z-index: -1;
    position: absolute;
}

.smoke1{
    width: 100%;
    transform: rotate(-44.64deg) translate(-5%, -10%) scale(1.3);
    background-image: url("./smoke1.png");
    background-size: contain;
}

.smoke2{
    width: 100%;
    right: 0;
    transform: rotate(90deg) translate(15%, -10%) scale(1.3);
    background-image: url("./smoke1.png");
    background-size: contain;
}

.about-me{
    position: relative;
    height: 90vh;
}

.about-me-content{
    position: absolute !important;
    right: 0;
    top: 20%;
    height: 500px;
}

.about-me-block1, .about-me-block2{
    position: absolute;
    width: 80%;
    height: 80%;
}

.about-me-block1{
    right: 0;
    top: 0;
    background-color: #0F9CEC;
}

.about-me-block2{
    color: white;
    padding: 20px;
    left: 0;
    bottom: 0;
    background-color: #3A3A3A;
}

@media only screen and (max-width: 990px) {

    .introduction{
        height: 250px;
    }

    .block1, .block3{
        display: none;
    }

    .block2{
        padding: 5px;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 15px;
    }

    .block2 > *{
        margin: 5px;
    }

    .block2 span{
        font-size: 26px;
    }


    .block4{
        left: 50%;
        transform: translate(-50%, -20%);
        top: 0;
        width: 80%;
        height: 50%;
        border-radius: 500px;
        border: 5px solid #3A3A3A;
    }


    .images{
        right: 0;
    }
}


@media only screen and (max-width: 500px) {
    .navbar > a{
        font-size: 30px !important;

    }
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 70px!important;
    }

    p{
        font-size: 25px!important;
    }
}

